*, *:before, *:after {
    box-sizing: inherit;
}

:root {
    --baseFontSize: 1rem;
    --h1FontSize: 2rem;
    --hugeH1FontSize: 4rem;
    --cellFontSize: 6rem;
}

h1 {
    font-size: var(--h1FontSize);
    margin: 1rem;
    padding: 0.5rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game-container {
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightslategray;
    padding: 1.5rem;
}

.game-grid {
    background-color: black;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 5px 5px;
}

.cell {
    width: 150px;
    height: 150px;
    background-color: coral;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--cellFontSize);
}

.cell:hover {
    background-color: lightcoral;
}

.game-status {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
}

@keyframes slideFadeFromTop {
    0% {
      opacity: 0;
      transform: translateY(-200px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
}

.game-status h1 {
    font-size: var(--hugeH1FontSize);
    color: red;
    white-space: nowrap;
}

.hide {
    visibility: hidden;
}

.show {
    animation: slideFadeFromTop 2s;
    visibility: visible;
}