*, *:before, *:after {
    box-sizing: inherit;
}

:root {
    --baseFontSize: 1rem;
    --biggerFontSize: 1.2rem;
    --h1FontSize: 2rem;
    --hugeH1FontSize: 4rem;
    --cellFontSize: 7rem;
    --cellFont: "Gochi Hand", cursive;
    --baseFont: "Ubuntu", sans-serif;
}

html {
    font-size: var(--baseFontSize);   
    font-family: var(--baseFont);
}

h1 {
    font-size: var(--h1FontSize);
    font-weight: bold;
    margin: 1rem;
    padding: 0.5rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game-container {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
}

.game-grid {
    background-color: black;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 5px 5px;
}

.cell {
    width: 150px;
    height: 150px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--cellFontSize);
    font-family: var(--cellFont);
}

.cell:hover {
    background-color: #F5F5F5;
}

.game-status {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    width: 420px;
    margin-left: -210px;
    z-index: 100;
}

@keyframes slideFadeFromTop {
    0% {
      opacity: 0;
      transform: translateY(-200px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
}

.game-status h1 {
    font-size: var(--hugeH1FontSize);
    color: red;
    white-space: nowrap;
}

.hide {
    visibility: hidden;
}

.show {
    animation: slideFadeFromTop 2s;
    visibility: visible;
}

.game-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding-top: 10px;
    padding-bottom: 5px;
    margin: 5px;
    margin-bottom: 20px;
    font-size: var(--biggerFontSize);
    background-color: #E6ECF2;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid black;
}

select {
    font-size: var(--biggerFontSize);
}

.game-settings-top {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.game-settings-bottom {
    padding: 5px;
    margin: 10px;
}

.play-btn {
    width: 100px;
    font-size: var(--biggerFontSize);
}

.noHover {
    pointer-events: none;
}

.current {
    color: green;
    text-decoration: underline;
}

@media only screen and (max-width: 500px) {
    .game-container {
        width: 280px;
    }

    .cell {
        width: 100px;
        height: 100px;
    }

    .game-settings {
        width: 200px;
        height: 140px;
    }

    .game-settings-top {
        flex-direction: column;
        flex: 1;
        align-items: center;
    }    
}